<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>
  There's no real way to contact us, as we are a mere sample app
  in the vast stream of internet life. Come to terms with this
  and your life will be immeasurably better for it.
</p>
